<!-- BEGGINING OF CONTACT SECTION -->
    
    
    <div class="stir-theme-black">
        <!-- -------------------SOCIAL BUTTONS  ---------- -->
      <div id="contact" class="container">
          
          <div id="social-buttons">
            <a target='_blank'><button class="round-btn"><i class="fa fa-fw fa-envelope"></i></button></a>
            <a target='_blank'><button class="round-btn"><i class="fa fa-fw fa-instagram"></i></button></a>
            <a target='_blank'><button class="round-btn"><i class="fa fa-fw fa-facebook"></i></button></a>
            <a target='_blank'><button class="round-btn"><i class="fa fa-fw fa-linkedin"></i></button></a>
          </div>
      <!--   ---------------END OF SOCIAL BUTTONS ------------------>
          
      <!--   ----------CONTACT INFORMATION LEFT ----------------- -->
        <div>
            <div class="grid">
              <div>
                <h3>LOCATION</h3>
                <p>We are located in the heart of Cork, however we can dislocate further from the area </p>
                <p> Get in touch and we will make your dreams come true ;)</p>
                <p>Opening Hours:</p>
                <p>Monday-Friday 9Am-5Pm</p>
              </div>
              <div></div>
      <!--  --------------  CONTACT INFORMATION RIGHT -------- -->
              <div>
                <h3 >CONTACT</h3>
                <p style="overflow:visible;">Email: stirEmail@gmail.com</p>
                <p >Phone:+353 0826654752</p>
                <p>Mr. Yuliano</p>
              </div>
            </div>
      
          </div>
      <!-- ------------  CONTACT INFO END ----------  -->
        
      <!--  --------------- FORM  ---------------------------- -->
     
            <form id="form" action="/submit" method="post">
              <p>Name*</p>
              <div id="name">
                  <input type="text"  name="first" required>
                  <input type="text" name="last" required>
              </div>
              <p>Email Adress*</p>
              <input type="text"  name="email" required>
              
              <p>Subject*</p>
              <input type="text"  name="subject" required>
              
              <p>Message*</p>
              <input type="text"   name="message" required>
              <input  class="submit-button" type="submit" value="SUBMIT">
              <img
              id="loading-gif"
              alt="loading"
            />
            <label id="return"></label>
            </form>
         
        
      <!--  ------------------ END OF FORM ----------------------  -->
        
      <!--  --------- COMPANY GALLERY ------------------------   -->
        

          <hr>
          <h3>It's been a  pleasure working with these companies</h3>
            <div class="row-flex">
              <div class="col-flex">
                <img class="brands-logo" src="images/logos/ml.png">
              </div>
              <div class="col-flex">
                <img class="brands-logo" src="/images/logos/orso.jpg">
              </div>
              <div class="col-flex">
                <img class="brands-logo" src="/images/logos/elbowLane.png">
              </div>
              <div class="col-flex">
                <img class="brands-logo" src="/images/logos/castle.png">
              </div>
            </div>
          <br>
      </div>
    </div>
</body>