<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Stir Homepage</title>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/scripts/parallax.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="scripts/scripts.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
        <% if(title == "gallery") {  %>
            <script src="scripts/image-slider.js"></script>
            <link rel="stylesheet" href="stylesheets/image-slider.css">
        <% } %>
    </head>
    
    <body>
    <!--class="scroll"-->
    
    <a href="#entryPage" style="z-index:4;position:relative;cursor:pointer;" >
        <img id="logo" src="images/stirLogo.png">
    </a>

    
    <ul>
      <li><a class="active" href="/about">About</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="#contact">Packages</a></li>
      <li><a href="#about">Gallery</a></li>
      <li><a href="#about">Testimonials</a></li>
      <li><a href="#contact" class="scroll">Contact</a></li>
    </ul>
    <span id="sideNavButton" style="font-size:30px;cursor:pointer">&#9776;</span>
    
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="/">Home</a></li>
    <a href="/about">About</a></li>
    <a href="/services">Services</a>
    <a href="#contact">Packages</a>
    <a href="gallery">Gallery</a>
    <a href="#about">Testimonials</a>
    <a href="#contact" class="scroll">Contact</a>
</div>