<% include partials/header %>

<div id="imagem3"></div>

<!-- - be a guest at your party  &#38;  leave the rest to the pros -->

<div class="stir-theme">
  <div class="thirtyViewPort">
    <span>- be a guest at your party &#38; leave the rest to the pros -</span>
  </div>
  <div class="inner container">
    <hr />
    <p>
      Our mission is to provide a premium mobile cocktail bar experience with
      entertaining and smiley bartenders for private and corporate events,
      focusing on our clients and their guests having a fun and stress-free
      experience. We aim to professionally create fun and wow-factor wherever we
      go!
    </p>
    <p>Mr. Yuliyan Andrianov</p>
    <p style="font-weight:bold;">Master mixologist</p>

    <img src="https://i.imgur.com/J5t54W1.jpg" /> <br /><br />
  </div>
</div>
<% include partials/footer %>
