<% include partials/header %>

<div id="imagem7"></div>

<div class="stir-theme">
  <div class="thirtyViewPort">
    <span
      >Looking for bartenders waiters for your event? We've got you
      covered!</span
    >
  </div>
  <div class="container inner">
    <hr />
    <p>
      If you have an event coming up and need some extra staff, or if you’ve
      been let down at the last minute and need and extra pair for skilled
      hands, we’re here to help and are just a call away. We can provide
      professional and experienced bartenders, event managers, waitresses,
      support staff etc to come and serve and help your event run smoothly.
    </p>
    <img src="/images/small/juCocktailSmall.jpg" />
    <br /><br />
  </div>
</div>
<% include partials/footer %>
