<% include partials/header %>

<!-- main image slider container -->
<div id="slider-main">
  <!-- previous button -->
  <button id="prev"><i class="fa fa-angle-double-left"></i></button>

  <!-- image container -->
  <div id="slider"></div>

  <!-- next button -->
  <button id="next"><i class="fa fa-angle-double-right"></i></button>

  <!-- pagination bullets -->
  <div id="circles"></div>
</div>
<!-- end of main image slider container -->

<% include partials/footer %>
