<% include partials/header %>

  
  

  <a href="#entryPage"  class="scroll">
    <img id="logo" src="\images\stirLogo.png">
  </a>
  
<!--   ENTRY PAGE -->
  <div id="entryPage">
    <video playsinline autoplay muted loop >
      <source src="https://media.gettyimages.com/videos/female-bartender-making-cocktails-video-id965353418" autoplay="true" />
    </video>
    <a href="#intro" class="scroll"><img  id="arrowDown" src="https://i.imgur.com/4ZF4QeR.png"></a>
  </div>
<!--   END OF ENTRY PAGE -->

<div id="intro"  class="stir-theme ">
  <div>
    - be a guest at your party  &#38;  leave the rest to the pros - </p>
  </div>
</div>
  

<div id="imagem1"></div>

  
<div class=" stir-theme">
    
  <div id="intro-text-services">Explore our list of bar hire services by clicking below! Enjoy!</div>   
    
  <div class="row-flex container">
        

    <div class="col-flex5">  
      <a href="/weddingBar"><img  class="brands-logo5" src="/images/small/weddingBarSmall.jpg"></a><span>WEDDING COCKTAIL BAR</span>
    </div>
    
    <div class="col-flex5">  
      <a href="/mobileCocktail"><img  class="brands-logo5" src="/images/small/mobileCocktailSmall.JPG"></a><span>MOBILE COCKTAIL BAR HIRE</span>
    </div>
    
    <div class="col-flex5">  
      <a href="/coffeeCocktailConversations"><img  class="brands-logo5" src="/images/small/coffeeCocktailSmall.JPG"></a><span>COFFEE & COCKTAILS & CONVERSATIONS</span>
    </div>
              
    <div class="col-flex5">
      <a href="/barHireStaff"><img class="brands-logo5" src="/images/small/barHireStaff.JPG"></a><span>BAR HIRE STAFF</span>
    </div>
        
    <div class="col-flex5">
      <a href="/tailoredCocktails"><img class="brands-logo5" src="/images/small/tailoredCocktailsSmall.jpg"></a><span>TAILORED COCKTAILS MENU</span>
    </div>
                 
    <div class="col-flex5">
      <a href="/howToMakeCocktails"><img class="brands-logo5" src="/images/small/howToMakeCocktailSmall.JPG"></a><span>HOW TO MAKE COCKTAIL </span>
    </div>
                           
    <div class="col-flex5">        
      <a href="/teamBuilding"><img class="brands-logo5" src="/images/small/masterClassSmall.JPG"></a><span>TEAM BUILDING COCKTAIL MASTERCLASS</span>    
    </div>  
                       
    </div>
  </div>
<!-- gallery -->

  <div id="imagem2"></div>


  <div  id="promoPackages"  class="stir-theme">
    <div id="text3">
        <span>Come find with us our wide range of offers with our promo packages!</span>
       <p><a href="packages"><div  class="promo-button" >PROMO PACKAGES</div></a></p>
    </div>
  </div>

<% include partials/footer %>