<% include partials/header %>


<div id="imagem8"></div>

<div class="stir-theme">
    <div class="thirtyViewPort"><span>Have you ever wondered how your favorite drink is done?!</span> </div>
    <div class="container inner">
        <hr>
        <p>Well it's time now to learn!

Learn the right ingredients, their measures, the techniques and the procedures from our senior mixologists on how to make all the classic cocktails you love!

Become your own personal bartender!</p>
        <img src="/images/small/pinkCocktail.jpg">
        <br><br>
    </div>
</div>
<% include partials/footer %>