<% include partials/header %>


<div id="imagem5"></div>

<div class="stir-theme">
    <div class="thirtyViewPort"><span>You’ve got your friends and a venue, all you need now is the fun and drinks!</span> </div>
    <div class="container inner">
    <hr>
    <p>But you don’t want the stress and hassle of running around all night, keeping all your guest’s drinks topped up and making sure everyone is happy. A table of assorted alcohols just won’t cut it!</p>
    <img src="/images/small/julAndBroSmall.JPG">
    <p>Enjoy a stress free and fun experience with our entertaining bartenders, serving delicious cocktails from eye catching mobile bars. Wow your guests with mouth-watering concoctions and fantastic service without having to lift a finger.</p>
    <img src="/images/small/juFingerBlastSmall.jpg"> 
    <p style="font-weight:bold;">What services we can provide:</p>
    <p><span class="cuteCocktail"> </span> Hire cocktail mixologists to wow your guests!</p>
    <p><span class="cuteCocktail"> </span> Let us take care of all the glasses</p>
    <p><span class="cuteCocktail"> </span> Add support staff to make sure the event runs perfectly</p>
    <p><span class="cuteCocktail"> </span> And with our all–inclusive package we will bring all the ingredients so you’re not worried about running around the shops looking for random liqueurs</p>
</div>
<% include partials/footer %>