<% include partials/header %>

<div id="imagem8"></div>

<div class="stir-theme">
  <div class="thirtyViewPort">
    <span>We have a wide range of promo packages to offer you!</span>
  </div>
  <div class="container inner">
    <hr />
    <p>
      Having your wedding in a teepee or venue without a bar? We can provide the
      full works with our full mobile bar packages.
    </p>
    <br />
    <img src="/images/small/weddingImage1.jpg" />
    <h3>Wedding Bar – Guests Pay</h3>
    <hr />
    <p>
      Weddings are expensive, so you can save costs by hiring in our mobile bar
      services for €300.
    </p>
    <img src="/images/small/jullShaking.jpg" />
    <h3>Private Party Bartender Hire MOBILE HIRE</h3>
    <hr />
    <p>
      It’s party time, you’ve got your friends and a venue, all you need now is
      the fun and drinks. But you don’t want the stress and hassle of running
      around all night, keeping all your guest’s drinks topped up and making
      sure everyone is happy. A table of assorted alcohols just won’t cut it!
    </p>
    <img src="/images/small/juMaldon.jpg" />
    <h3>Bartender Hire For Christmas & Staff Parties</h3>
    <hr />
    <p>
      Organising an event can be really fun and the buzz from executing a
      successful one is exhilarating! However you need to be mindful of the
      stress factors of trying to please everyone, while keeping costs in order,
      managing and pulling so many elements together that you have little
      control over, plus everything else on your plate. This can become
      overwhelming if you don’t approach it in the right way.
    </p>
    <img src="/images\gallery\phone\8.jpg" />
    <h3>Cocktail Masterclass</h3>
    <hr />
    <p>
      Ever fancied yourself as a bit of a Tom Cruise? Well now is the chance to
      learn! Our Team Building Cocktail Masterclass does just that.
    </p>
    <img src="/images\gallery\phone\1.jpg" /><br /><br /><br />
  </div>
  <% include partials/footer %>
</div>
