<% include partials/header %>



<div id="imagem4"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Wedding bar Hire</span> </div>
    <div class="container inner">
        <hr>
        <p>With all your friends and family gathering to celebrate this momentous and happy occasion you need everything to be amazing, stress free with suppliers you can rely on, to help you enjoy your day the way you should.</p>
    </div>
</div>

<div id="imagem5"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Mobile bar Hire</span> </div>
    <div class="container inner">
        <hr>
        <p>You’ve got your friends and a venue, all you need now is the fun and drinks!</p>
    </div>
</div>

<div id="imagem6"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Coffee Cocktail and Conversations</span> </div>
    <div class="container inner">
        <hr>
        <p>Fancy an afternoon of talks coffees and cocktails!?</p>
    </div>
</div>

<div id="imagem7"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Bar Hire staff</span> </div>
    <div class="container inner">
        <hr>
        <p>If you have an event coming up and need some extra staff, or if you’ve been let down at the last minute and need and extra pair for skilled hands, we’re here to help and are just a call away. We can provide professional and experienced bartenders, event managers, waitresses, support staff etc to come and serve and help your event run smoothly.</p>
    </div>
</div>

<div id="imagem9"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Tailored cocktails menu</span> </div>
    <div class="container inner">
        <hr>
        <p>We have a wide variety of cocktail menus to offer!</p>
    </div>
</div>

<div id="imagem8"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>How to make Cocktails</span> </div>
    <div class="container inner">
        <hr>
        <p>Have you ever wondered how your favorite drink is done?! Well it's time now to learn! Learn the right ingredients, their measures, the techniques and the procedures from our senior mixologists on how to make all the classic cocktails you love! Become your own personal bartender!</p>
    </div>
</div>

<div id="imagem10"></div>
<div class="stir-theme services">
    <div class="thirtyViewPort"><span>Team building cocktail masterclass</span> </div>
    <div class="container inner">
        <hr>
        <p>Ever fancied yourself as a bit of a Tom Cruise? Well now is the chance to learn! Our Team Building Cocktail Masterclass does just that.
Our expert mixologists will share tricks of the trade, from muddling and mixing to shaking and stirring! Learn more about the culture of cocktails, the history, the ingredients and why certain equipment is needed to make the perfect cocktail. Plus, the best bit is tasting them too!
 </p>
    </div>
</div>


</div>
<% include partials/footer %>