<% include partials/header %>


<div id="imagem9"></div>

<div class="stir-theme">
    <div class="thirtyViewPort"><span>We have a wide variety of cocktail menus to offer!</span> </div>
    <div class="container inner">
        <hr>
        <p><a href="#contact" class="scroll">Get in contact with us!</a></p>
        <img src="/images/small/pinkCocktail.jpg">
        <br><br>
    </div>
</div>
<% include partials/footer %>