<% include partials/header %>

<div id="imagem10"></div>

<div class="stir-theme">
  <div class="thirtyViewPort">
    <span>Looking to build some team spirit?Why not Cocktails!?</span>
  </div>
  <div class="container inner">
    <hr />
    <p>
      Ever fancied yourself as a bit of a Tom Cruise? Well now is the chance to
      learn! Our Team Building Cocktail Masterclass does just that. Our expert
      mixologists will share tricks of the trade, from muddling and mixing to
      shaking and stirring! Learn more about the culture of cocktails, the
      history, the ingredients and why certain equipment is needed to make the
      perfect cocktail. Plus, the best bit is tasting them too!
    </p>
    <img src="/images/big/cocktailBlueBig.jpg" /> <br /><br />
  </div>
</div>
<% include partials/footer %>
