<% include partials/header %>

<div id="imagem4"></div>

<div class="stir-theme">
    <div class="thirtyViewPort"><span>It’s your special day and it needs to be perfect!</span> </div>
    <div class="container inner">
        <hr>
        <p>With all your friends and family gathering to celebrate this momentous and happy occasion you need everything to be amazing, stress free with suppliers you can rely on, to help you enjoy your day the way you should.</p>
        <p>You and your partner’s happiness and stress free experience needs to come first. That’s where we come in. Our experienced events team will take you from booking to last drink in a smooth, well organised and fun fashion.</p>
        <h3 >Wedding bar Prepaid</h3><hr>
        <p>Having your wedding in a teepee or venue without a bar? We can provide the full works with our full mobile bar packages.</p><br>
        <img src="/images/small/weddingImage1.jpg">
        <h3>Wedding Bar – Guests Pay</h3><hr>
        <p>Weddings are expensive, so you can save costs by hiring in our mobile bar services for €300. </p>
        <img src="/images/small/jullShaking.jpg">
        <h3>Cocktail Reception</h3><hr>
        <p>There’s nothing like seeing a sea of colourful cocktails all ready for the taking as you and your wedding party arrive. </p><br>
        <img src="/images/small/weddingImage3.jpg">
        <br><br>
    </div>
</div>
<% include partials/footer %>